:root {
	--dark-blue: #2b3c6b;
	--gray-blue: #7284a8;
	--light-blue: #b4d8d7;
	--yellow: #fffdcb;
	--red: #e46a5b;
}

::-moz-selection{
  background: var(--dark-blue);
  color: #fff;
}

::selection{
  background: var(--dark-blue);
  color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--gray-blue);
  border-radius: 9px;
  border: 4px solid #fff;
  height: 40vh;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--gray-blue);
  border-radius: 9px;
  border: 4px solid #fff;
  width: 40vw;
}

body{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  background-color: white;
  color: #3a3a3a;
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100vh;
  background-image: url(img/grid.png);
  background-size: 100vh auto;
  background-repeat: repeat repeat;
}

a:hover {
  color: var(--light-blue);
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 0px;
  width: 14px;
  border-radius: 5px;
  background-color: #fff;
}

.footer {
  margin-top: 80px;
  padding: 20px;
  background-color: #ffffff99;
  color:var(--dark-blue);
  border-top: 5px solid var(--light-blue);
}

.footer a:visited {
  color: var(--dark-blue);
}

.footer a:hover {
  color: #3a3a3a;
}

.navbar {
  color: var(--dark-blue);
}

.navbar-light {
  background-color: #ffffff99;
  padding: 10px;
}

.navbar a {
  color: var(--dark-blue);
}

.navbar a:visited {
  color: var(--dark-blue);
}

.navbar a:hover {
  color: #3a3a3a;
}

.navlink {
  color: var(--dark-blue);
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-right: 16px;
}

.navlink a {
  color: var(--dark-blue);
}

.navlink a:visited {
  color: var(--dark-blue);
}

.navlink a:hover {
  color: #3a3a3a;
}

.nav-item {
  margin-left: 16px;
  color: var(--dark-blue);
}

.dropdown-menu {
  color: var(--dark-blue);
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  border: 0px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.icon {
  height: 10vw;
}

.center {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col {
  padding-right: 30px;
  padding-left: 30px;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.special {
  background-color: var(--red);
  color: white;
}

.special a {
  color: white;
}

.special a:visited {
  color: white;
}

.special a:hover {
  color: white;
}

.special:hover {
  background-color: var(--dark-blue);
  color: white;
}

.toggle {
  background-color: var(--light-blue);
}

.toggle:hover {
  background-color: var(--dark-blue);
  color: white;
}

.card-header {
  background-color: var(--light-blue);
}

.card-body {
  padding-right: 30px;
  padding-left: 30px;
}

.exec {
  padding-top: 50px; 
  padding-bottom: 50px;
  background-color: var(--light-blue);
  margin-bottom: 0px;
}

.headshot {
  border-radius: 10px;
  margin-left: 10%;
  width: 80%;
}

.crop-img {
  border-radius: 10px;
  width: 80%;
  max-height: 250px;
  margin-top: 20px;
  margin-left: 10%;
  overflow: hidden;
}

.crop-img img {
  width: 100%;
}

.banner {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  align-content: center;
}

@media (max-width: 800px) {
  .center {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .col {
    padding-bottom: 30px;
    min-width: 90vw;
  }

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }
}